<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Discover</title>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>

    <nav>
        <div class="logo">
            <img src="/blue2.png" alt="Logo">
        </div>
        <div class="teamlogo">
            <img src="/team.png" alt="team Logo">
        </div>
        <ul>
            <li><a href="/" onclick="showDiscover()">Home</a></li>
            <li><a href="discover" onclick="showDiscover()">Discover</a></li>
            <li><a href="book" onclick="showBookForm()">Book</a></li>
            <li><a href="#" onclick="showCreateForm()">Contact</a></li>
            <li><a href="#" onclick="showCreateForm()"></a></li>
        </ul>
    </nav>
</head>
<body >
    <section id="discover" class="discover">
        <h2>About Us</h2>
        <p>Welcome to our airline! Discover the world with our reliable and comfortable flights.</p>
        <!-- Add more information about the company as needed -->
    </section>
    <p>"At Blue Airline Company,
         we take pride in delivering exceptional travel experiences that 
         go beyond expectations. Our commitment to excellence ensures that each 
          journey with us is nothing short of unforgettable. From the moment you 
          step on board until the time you reach your destination, we prioritize 
          your comfort, safety, and satisfaction. We understand that 
          travel is not just about reaching a place; it's about the experiences 
          along the way. With Blue Airline, you embark on a journey where every detail 
          is carefully crafted to make your travel moments enjoyable and memorable. We 
          invite you to join us and discover the joy of seamless, delightful travel 
          experiences that leave a lasting impression. Your journey is our passion, 
          and we look forward to welcoming you on board to share in the excitement of
           exploration and adventure."</p>
</body>
        </html>