<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <img src="/blue2.png" alt="Logo">
            </div>
            <div class="teamlogo">
                <img src="/team.png" alt="team Logo">
            </div>
            <ul>
                <li><a href="/" onclick="showDiscover()">Home</a></li>
                <li><a href="discover" onclick="showDiscover()">Discover</a></li>
                <li><a href="book" onclick="showBookForm()">Book</a></li>
                <li><a href="#" onclick="showCreateForm()">Contact</a></li>
                <li><a href="#" onclick="showCreateForm()"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <img src="world.jpg" alt="imge">


        
    </main>

    <script src="/app.js"></script>
</body>
</html>
